<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Search Tab -->
  <ion-tab title="검색" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Bookmark Tab -->
  <ion-tab title="즐겨찾기" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/bookmark">
    <ion-nav-view name="tab-bookmark"></ion-nav-view>
  </ion-tab>

  <!-- Market Tab -->
  <ion-tab title="강의교환" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/market">
    <ion-nav-view name="tab-market"></ion-nav-view>
  </ion-tab>

  <!-- More Tab -->
  <ion-tab title="더보기" icon-off="ion-ios-more-outline" icon-on="ion-ios-more" href="#/tab/more">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>

</ion-tabs>
